#trabajos-realizados {
    background: #f9f9f9;
    padding-bottom: 70px;
}

.img-portfolio {
   height: 350px;
   width: 100%;
}
  
[class^="col-md"]  {
    padding: 10px;
}

a.galery:hover {
    background-color: #000;
    opacity:0.7;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

