<section id="trabajos-realizados">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-6">
                <h2 class="title">TRABAJOS REALIZADOS</h2>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sed id corrupti
                    cumque iste quia nobis, ea eius cupiditate, fuga unde nulla neque, dolorum illo perspiciatis nihil
                    reprehenderit blanditiis? Dolore?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, deleniti inventore cumque sed
                    temporibus maiores illum voluptas optio reprehenderit eligendi voluptates corrupti consectetur
                    blanditiis odio aspernatur at vero natus unde?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquam quam nihil ipsum architecto?
                    Ipsam, repudiandae necessitatibus architecto maiores quae eum laborum ratione inventore sapiente
                    esse voluptatem incidunt reiciendis mollitia.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, eos. Aut veniam totam repellat quam
                    aperiam vel fugit ullam possimus sed, officia earum consequuntur magnam tempore reiciendis porro non
                    tempora?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti laboriosam omnis totam molestiae
                    error numquam, repellendus modi optio deserunt iusto eum, ipsa consequatur quas. Ut sapiente
                    eligendi illo officiis adipisci.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi alias aspernatur, reiciendis porro
                    tempore id ex facilis voluptatibus placeat magni est eveniet minima quae magnam. Exercitationem et
                    voluptas hic quisquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque culpa, nam qui aspernatur quia
                    laborum optio recusandae distinctio? Minima cumque qui ipsa dicta a consequatur ad neque eum
                    voluptatem tempore.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row text-center">
            <div class="col-md-4">
                <a class="galery" data-fancybox="gallery" data-caption="Instalación de cámaras de monitoreo" href="../assets/img/portfolio/1.jpg"><img class="rounded img-portfolio img-fluid"
                        src="../assets/img/portfolio/1.jpg"></a>
            </div>
            <div class="col-md-4">
                <a class="galery" data-fancybox="gallery" href="../assets/img/portfolio/2.jpeg"><img class="rounded img-portfolio img-fluid"
                        src="../assets/img/portfolio/2.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a class="galery" data-fancybox="gallery" href="../assets/img/portfolio/3.jpeg"><img class="rounded img-portfolio img-fluid"
                        src="../assets/img/portfolio/3.jpeg"></a>
            </div>
            <div class="col-md-4">
                <a class="galery" data-fancybox="gallery" href="../assets/img/portfolio/4.jpg"><img class="rounded img-portfolio img-fluid"
                        src="../assets/img/portfolio/4.jpg"></a>
            </div>
            <div class="col-md-4">
                <a class="galery" data-fancybox="gallery" href="../assets/img/portfolio/5.jpg"><img class="rounded img-portfolio img-fluid"
                        src="../assets/img/portfolio/5.jpg"></a>
            </div>
            <div class="col-md-4">
                <a class="galery" data-fancybox="gallery" href="../assets/img/portfolio/6.jpeg"><img class="rounded img-portfolio img-fluid"
                        src="../assets/img/portfolio/6.jpeg"></a>
            </div>
        </div>
    </div>
</section>