#trabajos-realizados {
    background: #f9f9f9;
    padding-bottom: 70px;
}

.img-portfolio {
   /* margin-top: 15px; */
   height: 350px;
   width: 100%;
}

.img-portfolio:hover {
    background-color: bisque;
}

.col-md-4 {
    padding: 10px;
}